<div>
    <h2 id="page-heading">
        <span jhiTranslate="bestMealApp.restaurante.home.title">Restaurantes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restaurante" [routerLink]="['/restaurante/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bestMealApp.restaurante.home.createLabel">
            Create new Restaurante
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="restaurantes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logo"><span jhiTranslate="bestMealApp.restaurante.logo">Logo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipo"><span jhiTranslate="bestMealApp.restaurante.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sobreNome"><span jhiTranslate="bestMealApp.restaurante.nomePessoa">Sobre Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="municipio.nomeMunicipio"><span jhiTranslate="bestMealApp.restaurante.municipio">Municipio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let restaurante of restaurantes ;trackBy: trackId">
                <td><a [routerLink]="['/restaurante', restaurante.id, 'view' ]">{{restaurante.id}}</a></td>
                <td>
                    <a *ngIf="restaurante.logo" (click)="openFile(restaurante.logoContentType, restaurante.logo)">
                        <img [src]="'data:' + restaurante.logoContentType + ';base64,' + restaurante.logo" style="max-height: 30px;" alt="restaurante image"/>
                    </a>
                    <span *ngIf="restaurante.logo">{{restaurante.logoContentType}}, {{byteSize(restaurante.logo)}}</span>
                </td>
                <td jhiTranslate="{{'bestMealApp.TipoPessoa.' + restaurante.tipo}}">{{restaurante.tipo}}</td>
                <td>{{restaurante.cpf}}</td>
                <td>{{restaurante.cnpj}}</td>
                <td>{{restaurante.primeiroNome}}</td>
                <td>
                    <div *ngIf="restaurante.municipio">
                        <a [routerLink]="['../municipio', restaurante.municipio?.id, 'view' ]" >{{restaurante.municipio?.nomeMunicipio}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/restaurante', restaurante.id, 'view' ]"
                                class="btn btn-info btn-sm" ngbTooltip="{{ 'entity.action.view' | translate }}"> 
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/restaurante', restaurante.id, 'edit']"
                                class="btn btn-primary btn-sm" ngbTooltip="{{ 'entity.action.edit' | translate }}"> 
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button> 
                        <button type="submit"
                                [routerLink]="['/', 'restaurante', { outlets: { popup: restaurante.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm" ngbTooltip="{{ 'entity.action.delete' | translate }}"> 
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="restaurantes && restaurantes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
