<div>
    <h2 id="page-heading">
        <span jhiTranslate="bestMealApp.menu.home.title">Menus</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-menu" 
        [routerLink]="['/menu/new']" ngbTooltip="{{ 'bestMealApp.menu.home.createLabel' | translate }}">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>

    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="menus">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nome"><span jhiTranslate="bestMealApp.menu.nome">Nome</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="grupo"><span jhiTranslate="bestMealApp.menu.grupo">Grupo</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="isDisponivel"><span jhiTranslate="bestMealApp.menu.isDisponivel">Is Disponivel</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let menu of menus ;trackBy: trackId">
                    <td><a [routerLink]="['/menu', menu.id, 'view' ]">{{menu.id}}</a></td>
                    <td>{{menu.nome}}</td>
                    <td jhiTranslate="{{'bestMealApp.GrupoMenu.' + menu.grupo}}">{{menu.grupo}}</td>
                    <!--        <td>{{menu.isDisponivel}}</td> -->
                    <td class="text-left">
                        <fa-icon [icon]="menu.isDisponivel ? 'check' : 'times'" aria-hidden="true"
                            class="{{menu.isDisponivel ? 'text-success' : 'text-danger'}}"></fa-icon>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/menu', menu.id, 'view' ]"
                                    class="btn btn-info btn-sm" ngbTooltip="{{ 'entity.action.view' | translate }}"> 
                                <fa-icon [icon]="'eye'"></fa-icon>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/menu', menu.id, 'edit']"
                                    class="btn btn-primary btn-sm" ngbTooltip="{{ 'entity.action.edit' | translate }}"> 
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button> 
                            <button type="submit"
                                    [routerLink]="['/', 'menu', { outlets: { popup: menu.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm" ngbTooltip="{{ 'entity.action.delete' | translate }}"> 
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                    </td>
    
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="menus && menus.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
