<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pessoa">
            <h2><span jhiTranslate="bestMealApp.pessoa.detail.title">Pessoa</span> {{pessoa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bestMealApp.pessoa.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{'bestMealApp.TipoPessoa.' + pessoa.tipo}}">{{pessoa.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.cpf">Cpf</span></dt>
                <dd>
                    <span>{{pessoa.cpf}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{pessoa.cnpj}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.primeiroNome">Primeiro Nome</span></dt>
                <dd>
                    <span>{{pessoa.primeiroNome}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.nomeMeio">Nome Meio</span></dt>
                <dd>
                    <span>{{pessoa.nomeMeio}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.sobreNome">Sobre Nome</span></dt>
                <dd>
                    <span>{{pessoa.sobreNome}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.saudacao">Saudacao</span></dt>
                <dd>
                    <span>{{pessoa.saudacao}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.titulo">Titulo</span></dt>
                <dd>
                    <span>{{pessoa.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.cep">Cep</span></dt>
                <dd>
                    <span>{{pessoa.cep}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.tipoLogradouro">Tipo Logradouro</span></dt>
                <dd>
                    <span jhiTranslate="{{'bestMealApp.TipoLogradouro.' + pessoa.tipoLogradouro}}">{{pessoa.tipoLogradouro}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.nomeLogradouro">Nome Logradouro</span></dt>
                <dd>
                    <span>{{pessoa.nomeLogradouro}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.complemento">Complemento</span></dt>
                <dd>
                    <span>{{pessoa.complemento}}</span>
                </dd>
                <dt><span jhiTranslate="bestMealApp.pessoa.municipio">Municipio</span></dt>
                <dd>
                    <div *ngIf="pessoa.municipio">
                        <a [routerLink]="['/municipio', pessoa.municipio?.id, 'view']">{{pessoa.municipio?.nomeMunicipio}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pessoa', pessoa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
