<div>
    <h2 id="page-heading">
        <span jhiTranslate="bestMealApp.produto.home.title">Cartao Creditos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produto" 
        [routerLink]="['/produto/new']" ngbTooltip="{{ 'bestMealApp.produto.home.createLabel' | translate }}">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="produtos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo"><span jhiTranslate="bestMealApp.produto.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="bestMealApp.produto.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unidade"><span jhiTranslate="bestMealApp.produto.unidade">Unidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estoqueMinimo"><span jhiTranslate="bestMealApp.produto.estoqueMinimo">Estoque Minimo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estoqueAtual"><span jhiTranslate="bestMealApp.produto.estoqueAtual">Estoque Atual</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataUltimaCompra"><span jhiTranslate="bestMealApp.produto.dataUltimaCompra">Data Ultima Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valorUltimaCompra"><span jhiTranslate="bestMealApp.produto.valorUltimaCompra">Valor Ultima Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produto of produtos ;trackBy: trackId">
                <td><a [routerLink]="['/produto', produto.id, 'view' ]">{{produto.id}}</a></td>
                <td>{{produto.codigo}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.unidade}}</td>
                <td>{{produto.estoqueMinimo}}</td>
                <td>{{produto.estoqueAtual}}</td>
                <td>{{produto.dataUltimaCompra | date:'mediumDate'}}</td>
                <td>{{produto.valorUltimaCompra}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/produto', produto.id, 'view' ]"
                                class="btn btn-info btn-sm" ngbTooltip="{{ 'entity.action.view' | translate }}"> 
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/produto', produto.id, 'edit']"
                                class="btn btn-primary btn-sm" ngbTooltip="{{ 'entity.action.edit' | translate }}"> 
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button> 
                        <button type="submit"
                                [routerLink]="['/', 'produto', { outlets: { popup: produto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm" ngbTooltip="{{ 'entity.action.delete' | translate }}"> 
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="produtos && produtos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
