<div>
    <h2 id="page-heading">
        <span jhiTranslate="bestMealApp.cartaoRecompensa.home.title">Cartao Recompensas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cartao-recompensa" [routerLink]="['/cartao-recompensa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bestMealApp.cartaoRecompensa.home.createLabel">
            Create new Cartao Recompensa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cartaoRecompensas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomeCartao"><span jhiTranslate="bestMealApp.cartaoRecompensa.nomeCartao">Nome Cartao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numero"><span jhiTranslate="bestMealApp.cartaoRecompensa.numero">Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validade"><span jhiTranslate="bestMealApp.cartaoRecompensa.validade">Validade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pontuacao"><span jhiTranslate="bestMealApp.cartaoRecompensa.pontuacao">Pontuacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="situacao"><span jhiTranslate="bestMealApp.cartaoRecompensa.situacao">Situacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cliente.primeiroNome"><span jhiTranslate="bestMealApp.cartaoRecompensa.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cartaoRecompensa of cartaoRecompensas ;trackBy: trackId">
                <td><a [routerLink]="['/cartao-recompensa', cartaoRecompensa.id, 'view' ]">{{cartaoRecompensa.id}}</a></td>
                <td>{{cartaoRecompensa.nomeCartao}}</td>
                <td>{{cartaoRecompensa.numero}}</td>
                <td>{{cartaoRecompensa.validade}}</td>
                <td>{{cartaoRecompensa.pontuacao}}</td>
                <td jhiTranslate="{{'bestMealApp.SituacaoCartao.' + cartaoRecompensa.situacao}}">{{cartaoRecompensa.situacao}}</td>
                <td>
                    <div *ngIf="cartaoRecompensa.cliente">
                        <a [routerLink]="['../cliente', cartaoRecompensa.cliente?.id, 'view' ]" >{{cartaoRecompensa.cliente?.primeiroNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <!-- <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cartao-recompensa', cartaoRecompensa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cartao-recompensa', cartaoRecompensa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cartao-recompensa', { outlets: { popup: cartaoRecompensa.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div> -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="cartaoRecompensas && cartaoRecompensas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
