<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cartao-recompensa-heading" jhiTranslate="bestMealApp.cartaoRecompensa.home.createOrEditLabel">Create or edit a Cartao Recompensa</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cartaoRecompensa.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoRecompensa.nomeCartao" for="field_nomeCartao">Nome Cartao</label>
                    <input type="text" class="form-control" name="nomeCartao" id="field_nomeCartao"
                           formControlName="nomeCartao"/>
                    <div *ngIf="editForm.get('nomeCartao').invalid && (editForm.get('nomeCartao').dirty || editForm.get('nomeCartao').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nomeCartao').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nomeCartao').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nomeCartao').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                        This field cannot be longer than 40 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoRecompensa.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                    <div *ngIf="editForm.get('numero').invalid && (editForm.get('numero').dirty || editForm.get('numero').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numero').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoRecompensa.validade" for="field_validade">Validade</label>
                    <input type="text" class="form-control" name="validade" id="field_validade"
                           formControlName="validade"/>
                    <div *ngIf="editForm.get('validade').invalid && (editForm.get('validade').dirty || editForm.get('validade').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validade').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validade').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Validade' }">
                            This field should follow pattern for "Validade".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoRecompensa.pontuacao" for="field_pontuacao">Pontuacao</label>
                    <input type="number" class="form-control" name="pontuacao" id="field_pontuacao"
                           formControlName="pontuacao"/>
                    <div *ngIf="editForm.get('pontuacao').invalid && (editForm.get('pontuacao').dirty || editForm.get('pontuacao').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pontuacao').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pontuacao').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pontuacao').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('pontuacao')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoRecompensa.situacao" for="field_situacao">Situacao</label>
                    <select class="form-control" name="situacao" formControlName="situacao" id="field_situacao">
                        <option value="ATIVO">{{'bestMealApp.SituacaoCartao.ATIVO' | translate}}</option>
                        <option value="INATIVO">{{'bestMealApp.SituacaoCartao.INATIVO' | translate}}</option>
                        <option value="CANCELADO">{{'bestMealApp.SituacaoCartao.CANCELADO' | translate}}</option>
                        <option value="PENDENTE">{{'bestMealApp.SituacaoCartao.PENDENTE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bestMealApp.cartaoRecompensa.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="cliente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ClienteOption.id === editForm.get('cliente').value?.id ? editForm.get('cliente').value : ClienteOption" *ngFor="let ClienteOption of clientes; trackBy: trackClienteById">{{ClienteOption.primeiroNome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
